.delayedButton {
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.05em;
  font-size: 15px;
  color: white;
  background: #e62553;
  border: 3px solid #e62553;
  height: 40px;
  width: 150px;
  margin: 10px;
  border-radius: 45px;
  cursor: pointer;
  transition: 200ms border-color, 200ms background, 100ms color, 400ms transform;

  &[disabled] {
    background: #cbcbcb;
    border-color: #cbcbcb;
    color: #818181;
    cursor: default;
  }

  &:not([disabled]):hover {
    transform: scale(1.025);
  }

  &.border25, &.border50, &.border75, &.border100 {
    border-left-color: #e62553;
  }

  &.border50, &.border75, &.border100 {
    border-bottom-color: #e62553;
  }

  &.border75, &.border100 {
    border-right-color: #e62553;
  }

  &.border100 {
    border-top-color: #e62553;
  }
}
