@import '~normalize.css/normalize.css';
@import './fonts/inter.css';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;

  font-size: 15px;
  line-height: 1.3;
  letter-spacing: -0.04em;
}
